.formulario {
    width: 40%;
    min-width: 250px;
    max-width: 600px;
    text-align: center;
}

.campoForm {
    border: 1px solid rgb(185, 185, 185);
    border-radius: 2rem;
    width: 100%;
    display: flex;
}

.campoForm input {
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    border: none;
    flex: 4;
    outline: none;
}

.campoForm button {
    border-radius: 0 2rem 2rem 0;
    border: none;
    flex: 1;
    cursor: pointer;
    border-left: 1px solid rgb(185, 185, 185);
    background-color: rgb(56, 119, 255);
    color: white;
}

.campoForm button:hover {
    background-color: rgb(37, 92, 211);
}

.campoForm button:active {
    background-color: rgb(29, 70, 160);
}

.opcoes select {
    padding: 1rem;
    margin: 2rem 0;
}