.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 3rem;
}

.cardContainer {
    width: 200px;
    transition: all 200ms;
    margin-top: 2rem;
    border-radius: 1.2rem;
    box-shadow: 5px 5px 3px rgba(59, 59, 59, 0.781);
}

.cardContainer:hover {
    transform: scale(1.1);
    box-shadow: 10px 12px 4px rgba(141, 141, 141, 0.781);
}
